# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore environment files
.env
venv/

# Ignore Django migrations
*/migrations/

# Ignore database files
*.sqlite3

# Ignore static and media files
staticfiles/
media/
