{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block content %}
<div class="item-container">
  <div class="item-about">
      <div class="item-image">
          <button class="carousel-button left" onclick="prevImage()">❮</button>
          <div class="item-image-carousel">
              <div class="carousel-images">
                  <img src="{{ item.image.url }}" alt="">
                  {% for image in item.itemimages_set.all %}
                      <img src="{{ image.image.url }}" alt="Image for {{ item.name }}">
                  {% endfor %}
              </div>
          </div>
          <button class="carousel-button right" onclick="nextImage()">❯</button>
      </div>
      
      <div class="item-infobox">
          <div class="infobox-title">{{ item.name }}</div>
          <div class="infobox-description-lg">{{ item.description }}</div>
          <div class="item-infobox-middle">
            <div class="btn collapsible"><span class="arrow-down">↓</span> Description <span class="arrow-down">↓</span></div>
            <div class="content-collapsible">
              <div class="infobox-description">{{ item.description }}</div>
            </div>
          </div>
          <div class="item-infobox-bottom">
            <div class="infobox-rating">Rating: {{ item.rating }}/5</div>
            <div class="color-switcher">
                <div class="color-option" data-color="silver"></div>
                <div class="color-option" data-color="black"></div>
                <div class="color-option" data-color="dark red"></div>
            </div>
            <p class="selected-color-text"><span>Color:</span> silver</p>
            <button class="buy-button">BUY | {{ item.price }}</button>
          </div>
      </div>
  </div>

  <div class="item-comments">
      <div class="input-block">
          <input type="text" placeholder="Tell us about you expirience">
      </div>
      <div class="comment">
          <h2>Johnny-boy</h2>
          <p>The best hand I`ve ever used! You know, it helped me nuked `saka hq.</p>
      </div>
      <div class="comment">
          <h2>V</h2>
          <p>My imaginary friend used this one....well, not bad at all</p>
      </div>
  </div>
<div class="item-other">
    {% for other_item in other_items %}
    <div class="other-card">
        <img src="{{ other_item.image.url }}" alt="{{ other_item.name }}">
        <h2>{{ other_item.name }}</h2>
        <a href="{% url 'shop:item-detail' other_item.pk %}" class="buy-other-button">BUY | {{ other_item.price }}</a>    </div>
    {% endfor %}
</div>
</div>
{% endblock %}