{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block content %}
<div class="item-container">
  <div class="item-about">
      <div class="item-image">
          <button class="carousel-button left" onclick="prevImage()">❮</button>
          <div class="item-image-carousel">
              <div class="carousel-images">
                  <img src="{{ item.image.url }}" alt="Placeholder 1">
                  <img src="{{ item.image.url }}" alt="Placeholder 1">
                  <img src="{{ item.image.url }}" alt="Placeholder 1">
              </div>
          </div>
          <button class="carousel-button right" onclick="nextImage()">❯</button>
      </div>
      
      <div class="item-infobox">
          <div class="infobox-title">{{ item.name }}</div>
          <div class="infobox-description">{{ item.description }}</div>
          <div class="infobox-rating">Rating: {{ item.rating }}/5</div>
          <div class="color-switcher">
              <div class="color-option" data-color="silver"></div>
              <div class="color-option" data-color="black"></div>
              <div class="color-option" data-color="dark red"></div>
            </div>
            <p class="selected-color-text"><span>Color:</span> silver</p>
          <button class="buy-button">BUY | {{ item.price }}</button>
      </div>
  </div>

  <div class="item-comments">
      <div class="input-block">
          <input type="text" placeholder="Tell us about you expirience">
      </div>
      <div class="comment">
          <h2>Johnny-boy</h2>
          <p>The best hand I`ve ever used! You know, it helped me nuked `saka hq.</p>
      </div>
      <div class="comment">
          <h2>V</h2>
          <p>My imaginary friend used this one....well, not bad at all</p>
      </div>
  </div>
  <div class="item-other">
      <div class="other-card">
          <img src="https://via.placeholder.com/100x100" alt="Ex1">
          <h2>MassNeoEye</h2>
          <button class="buy-other-button">BUY | 199.99</button>
      </div>
      <div class="other-card">
          <img src="https://via.placeholder.com/100x100" alt="Ex2">
          <h2>MassNeoEye</h2>
          <button class="buy-other-button">BUY | 199.99</button>
      </div>
      <div class="other-card">
          <img src="https://via.placeholder.com/100x100" alt="Ex3">
          <h2>MassNeoEye</h2>
          <button class="buy-other-button">BUY | 199.99</button>
      </div>
      <div class="other-card">
          <img src="https://via.placeholder.com/100x100" alt="Ex4">
          <h2>MassNeoEye</h2>
          <button class="buy-other-button">BUY | 199.99</button>
      </div>
  </div>
</div>
{% endblock %}